<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class = "topArea">
    <div class = "menu">
      <!-- Replace Link '#link' with link you want the link to lead to -->
      <a href = "https://cb235dev.cb235.repl.co/">Home</a>
      <a href = "#link">Scripts</a>
      
    </div>
      <h1>Contact me!</h1>
      <hr>
      <center><p><strong>
        Discord: cb235#6969 
        </strong><br>

      <center><p><strong>
        Gmail: cb235yt@gmail.com 
        </strong><br>

      <center><p><strong>
        <style>
        a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
        }
        a:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
        }
        </style>
        YouTube:<a href = "https://youtube.com/cb235" target="_blank" rel="noopener noreferrer"> youtube.com/cb235</a>
        </strong><br>

        
        </p></center>
      <br>
      <!-- Replace Link '#link' with link you want the link to lead to -->
      <center><a href = "https://discord.gg/UYjwMeU63P" target="_blank" rel="noopener noreferrer" class = "button"><span class = "arrows">
        Discord server <!-- Link Text -->
        </a></span></center><br>
      
      <center><a href = "https://www.youtube.com/cb235?sub_confirmation=1" target="_blank" rel="noopener noreferrer" class = "button"><span class = "arrows">
        subascrib!!11!!!1 <!-- Link Text -->
        </a></span></center><br>


      <br><br><br><br><br>
    </div>
    <div class = "bod">
      
    </div>
    <!--<button class = "togg" onclick="togg()">Toggle Theme</button>-->
    <script src="script.js"></script>
  </body>
</html>