<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CB235Dev</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class = "topArea">
    <div class = "menu">
      <!-- Replace Link '#link' with link you want the link to lead to -->
      <a href = "https://github.com/cb235/spambotpy/releases/download/V1.0/spammer.exe">Spammer</a>
      <a href = "https://github.com/CB235/moviehacker/releases/download/V1.0/hax.bat">MovieHax</a>
      <a href = "https://github.com/CB235/batbomb/releases/download/V1.0/batbomb.bat">BatBomb</a>
      <a href = "https://github.com/CB235/robuc_spammer/releases/download/V1.0/robux.vbs">Robux</a>
      <a href = "https://bsod.cb235.repl.co/" target="_blank" rel="noopener noreferrer">Bsod</a>
      <a href = "https://github.com/CB235">Github</a>
      <a href = "https://cb235dev.cb235.repl.co/contactme">Contact me</a>
      <a href = "https://cb235dev.cb235.repl.co/babaganoush" target="_blank" rel="noopener noreferrer">BABAGANOUSH</a>
      
    </div>
      <h1>CB235Dev</h1>
      <hr>
      <center><p><strong>
        school computer utility mods™
        </strong><br>
        how to fix these buttons someone dm me cb235#6969
        </p></center>
      <br>
      <!-- Replace '#link' with link you want the link to lead to -->
      <center><a href = "https://github.com/cb235/spambotpy/releases/download/V1.0/spammer.exe" class = "button"><span class = "arrows">
        Spammer <!-- Link Text -->
        </a></span></center><br>

      <center><a href = "https://github.com/CB235/moviehacker/releases/download/V1.0/hax.bat" class = "button"><span class = "arrows">
        MovieHax <!-- Link Text -->
        </a></span></center><br>

      <center><a href = "https://github.com/CB235/batbomb/releases/download/V1.0/batbomb.bat" class = "button"><span class = "arrows">
        BatBomb <!-- Link Text -->
        </a></span></center><br>
      <br><br><br><br><br>








    </div>
    <div class = "bod">
      <h3>more content coming soon!</h3>
      <hr>
      <center><p><strong> </strong><br />
      <!-- Replace 'Text' with you own text -->
<iframe width="560" height="315" src="https://www.youtube.com/embed/obmlZH3X9gs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>     <br />
      <br />
      <br /><hr>
      
      <div class="tenor-gif-embed" data-postid="20049996" data-share-method="host" data-aspect-ratio="1.07023" data-width="100%"><a href="https://tenor.com/view/boiled-soundcloud-boiled-boiled-irl-boiled-utsc-boiled-cheesestick-agem-soundcloud-gif-20049996">Boiled Soundcloud Boiled Irl GIF</a>from <a href="https://tenor.com/search/boiled+soundcloud-gifs">Boiled Soundcloud GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
      
      
      
      
      </p></center>
      <center><p> </p></center><br />
    </div>
    <!--<button class = "togg" onclick="togg()">Toggle Theme</button>-->
    <script src="script.js"></script>
  </body>
</html>