<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>CB235Dev</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class = "topArea">
    <div class = "menu">
      <!-- Replace Link '#link' with link you want the link to lead to -->
      <a href = "https://github.com/cb235/spambotpy/releases/download/V1.0/spammer.exe">Spammer</a>
      <a href = "https://github.com/CB235/moviehacker/releases/download/V1.0/hax.bat">MovieHax</a>
      <a href = "https://github.com/CB235/batbomb/releases/download/V1.0/batbomb.bat">BatBomb</a>
      <a href = "https://github.com/CB235/robuc_spammer/releases/download/V1.0/robux.vbs">Robux</a>
      <a href = "https://bsod.cb235.repl.co/" target="_blank" rel="noopener noreferrer">Bsod</a>
      <a href = "https://github.com/CB235">Github</a>
      <a href = "https://cb235dev.cb235.repl.co/contactme">Contact me</a>
    </div>
      <h1>CB235Dev</h1>
      <hr>
      <center><p><strong>
        random scripts to screw with school computers
        </strong><br>
        how to fix these buttons someone dm me cb235#6969
        </p></center>
      <br>
      <!-- Replace '#link' with link you want the link to lead to -->
      <center><a href = "https://github.com/cb235/spambotpy/releases/download/V1.0/spammer.exe" class = "button"><span class = "arrows">
        Spammer <!-- Link Text -->
        </a></span></center><br>

      <center><a href = "https://github.com/CB235/moviehacker/releases/download/V1.0/hax.bat" class = "button"><span class = "arrows">
        MovieHax <!-- Link Text -->
        </a></span></center><br>

      <center><a href = "https://github.com/CB235/batbomb/releases/download/V1.0/batbomb.bat" class = "button"><span class = "arrows">
        BatBomb <!-- Link Text -->
        </a></span></center><br>
      <br><br><br><br><br>








    </div>
    <div class = "bod">
      <h3>more content coming soon!</h3>
      <hr>
      <center><p><strong> </strong><br />
      <!-- Replace 'Text' with you own text -->
text here      <br />
      <br />
      <br /><hr></p></center>
      <center><p> </p></center><br />
    </div>
    <!--<button class = "togg" onclick="togg()">Toggle Theme</button>-->
    <script src="script.js"></script>
  </body>
</html>